*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0d2c54;
    text-align: center;
}
#ng{
    padding: 1rem;
    background-color: #151513;
    font-weight: 500;
    font-style: italic;
    font-size: 4vmin;
    border: none;
    color: #fff;
}
#msg{
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titl{
    font-size: 9vmin;
    color: #FFB400;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box1{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem black(0,0,0,0.5);
    font-size: 8vmin;
    color: #FFB400
}
#rg{
    padding: 1rem;
    background-color: #151513;
    font-weight: 500;
    font-style: italic;
    font-size: 3vmin;
    border: none;
    color: #fff;
    
    
}